/* general */

body {
  color: #444;
  background: #cdd;
  font-size: 16px;
  margin: 10px;
}

h1 {
  font-size: 24px;
  letter-spacing: 12px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

a, a:active, a:hover, a:visited {
  color: #444;
}

p {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

nav {
  margin: 20px 0;
  text-align: center;
}


/* awesome button colors */

.awesome.red {
  background-color: #a01 !important;
}

.awesome.green {
  background-color: #3acc00 !important;
}

.awesome.blue {
  background-color: #4682b4 !important;
}

.awesome.white {
  background-color: #fff !important;
  color: #4682b4 !important;
  text-shadow: none !important;
}

.awesome[disabled] {
  background-color: #666 !important;
  cursor: default !important;
}


/* current */

#current-wrapper {
  text-align: center;
}

#current {
  background-color: #eee;
  border: 2px solid #333;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: inline-block;
  margin-bottom: 20px;
  padding: 15px;
}

#current th {
  padding-right: 10px;
  text-align: right;
}

#current input {
  width: 500px;
}

#current .buttons {
  margin: 10px 0 0;
}

#current .new .edit,
#current .edit .new {
  display: none;
}


/* errors */

#errors {
  background-color: #9f2531;
  color: #fff;
  margin-bottom: 10px;
  padding: 5px;
}

#error-list ul {
  list-style: none;
}


/* list */

#changesets {
  border: 1px solid #333;
  width: 100%;
}

#changesets th,
#changesets td {
  border: 1px solid #333;
  padding: 5px;
  text-align: left;
  vertical-align: middle;
}

#changesets th {
  background-color: #333;
  color: #eee;
}

#changesets td {
  background-color: #eee;
  color: #000;
}

#changesets .unmerged td {
  background-color: #4682b4;
  color: #eee;
}

#changesets .action {
  text-align: center;
  white-space: nowrap;
  width: 1%;
}

#changesets .revision,
#changesets .ticket {
  width: 10%;
}

#changesets .awesome {
  width: 85px;
}

#changesets a {
  float: right;
}

#changesets .unmerged a {
  color: #eee;
}


/* pagination */

#pagination {
  text-align: center;
}


/* footer */

footer {
  margin: 20px 0;
  text-align: center;
}

small {
  font-size: 12px;
}
