<% if @changeset.valid? %>
  <%= render @changeset %>
<% else %>
<div class="errors">
  <p>The changeset could not be saved because:</p>
  
  <ul>
    <% @changeset.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
</div>
<% end %>
