<h1>Changesets</h1>

<nav>
  <button id="btn-new" class="awesome">New Changeset</button>
  <a href="/" class="awesome">View Unmerged</a>
  <a href="/changesets/all" class="awesome">View All</a>
</nav>

<div id="current-wrapper" class="hidden">
  <section id="current">
    <header class="new">
      <p class="new"><em>Creating a new changeset...</em></p>
      <p class="edit"><em>Editing revision <span id="edit-revision-text">revision</span>...</em></p>
    </header>

    <form>
      <table>
        <tbody>
          <tr>
            <th><label for="inp-revision">Revision</label></th>
            <td><input type="text" name="changeset[revision]" id="inp-revision"></td>
          </tr>
          <tr>
            <th><label for="inp-ticket">Ticket</label></th>
            <td><input type="text" name="changeset[ticket]" id="inp-ticket"></td>
          </tr>
          <tr>
            <th><label for="inp-description">Description</label></th>
            <td><input type="text" name="changeset[description]" id="inp-description"></td>
          </tr>
          <tr>
            <th><label for="inp-notes">Notes</label></th>
            <td><input type="text" name="changeset[notes]" id="inp-notes"></td>
          </tr>
        </tbody>
      </table>
    </form>

    <section class="buttons">
      <button id="btn-save" class="awesome editing green">Save</button>
      <button id="btn-cancel" class="awesome editing red">Cancel</button>
    </section>
  </section>
</div>

<table id="changesets">
  <thead>
    <tr>
      <th class="action">&nbsp;</th>
      <th class="revision">Revision</th>
      <th class="ticket">Ticket</th>
      <th class="description">Description</th>
      <th class="notes">Notes</th>
    </tr>
  </thead>
  <tbody>
    <%= render @changesets %>
  </tbody>
</table>

<section id="pagination">
  <%= will_paginate @changesets %>
</section>

<footer>
  <small>Changesets &copy; 2010 Jimmy Cuadra. All rights reserved.</small>
</footer>
