<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Changesets</title>
  <%= stylesheet_link_tag 'reset', 'awesome-buttons', 'screen' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
